[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gevent = "*"
scraper = { editable = true, path = '../scraper' }
jsonschema = "*"

[dev-packages]

[requires]
python_version = "3.9"
